header {
     background-color: rgb(236, 234, 234, 0.5);
     display: flex;
     justify-content: space-around;
     align-items: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 0.8rem;
}



a:hover {
     background-color: rgb(235, 224, 224);
}











a {
     text-decoration: none;
     color: black;
}

nav>a {
     margin-left: 15px;
}

button {
     background-color: mediumpurple;
     padding: 10px;
     color: white;
     cursor: pointer;
     border: white;
     border-radius: 10px;


     width: 100px;


}