header {

     background-color: rgb(236, 234, 234, 0.5);
     display: flex;
     justify-content: space-around;
     align-items: center;

}














a {
     text-decoration: none;
     color: black;

}

.contenedor {
     width: 40%;
}




.icons {

     display: flex;
     justify-content: space-between;






}

.img {
     border-radius: 100px;

     height: 20px;

}