header {
     background-color: rgb(236, 234, 234, 0.5);
     display: flex;
     justify-content: space-around;
     align-items: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 0.8rem;
}

a:hover {
     background-color: rgb(235, 224, 224);
}

a {
     text-decoration: none;
     color: black;
}

nav>a {
     position: relative;
     right: 190px;

     margin-left: 15px;

}

.icons {
     display: flex;

}

.msj {


     justify-content: space-around;
}

.point {


     right: 30%;



     width: 8px;
     height: 8px;
     display: flex;
     background-color: red;
     border-radius: 70%;





}

.img {
     border-radius: 100px;

     height: 20px;

}